.TAB1{
    display:inline-block; width:30px;
}
body
{
}
.header{height: auto;width: 100%;}

#main{height: auto;}

.TOP{
    display:inline;
    position:relative;
    padding: 0 6px 0 6px;
    width:120px;
    height:12px;
    background-image:url(TOP.png);
    background-position:right center;
    background-repeat:no-repeat;
    top:-2px;
    margin-left:14px;
    text-decoration:none;
}
.scode{
    display:inline;
    position:relative;
    color:Black;
    font-size:medium;
    font-style:normal;
    text-decoration:underline;
}
.contents{
    padding: 6px 12px 6px 12px;
    margin: 10px 20px 10px 20px;
    background-color: #FFFFEA;
    border: solid 1px Silver;
    font-size: medium;
}
.code,.codeline{
    background-color: #CCFFFF;
    border:solid 1px Silver;
}
.code{
    font-size: medium;
    padding: 6px 12px 6px 12px;
    margin: 10px 20px 10px 20px;
    font-family:COURIER;
}
.codeline{
    display :inline-block;
    padding: 4px 12px 4px 12px;
    margin:0,0,0,0;
}
.subTopic{
    font-size: 14pt;
    font-weight: bold;
}
.topic{
    font-size: 24pt;
    font-weight: bold;
}
.word{
    font-weight: bold;
}
.code .keyword{
    color: #0033CC;
    font-weight: bolder;
}
.code .op{
    color: #0033CC;
    font-weight: bolder;
}
.code .comma{
    font-weight: bold;
    margin-right: 6px;
    margin-left: 6px;
    font-family: Courier;
}
.code .scol{
    color: #0033CC;
    font-weight: bold;
}
.commentLine{
    color: #009900;
    font-size:medium;
    font-weight:normal;
}
.code .str{
    color: #CC0000;
}
.code .colon{
    color: #0000FF;
    font-weight: 900;
    font-size: large;
}
.code .optionalArgs{
    background-color: #FFFF99;
}
.code .vari{
    color: #CC00FF;
}
.comments{
    margin: 18px 8px 6px 8px;
    position: relative;
    padding: 6px;
    background-color: #F0F0F0;
    top: 0px;
    left: 1px;
}

ul.UL{

}

/*ul.UL > li > span > .title{*/
ul.UL > li .title{
    font-size: large;
    font-weight: bold;
}

.header .help{
    position: absolute;
    width: auto;
    height: auto;
    top: 4px;
    left: 8px;
    color:Red;
    /*text-decoration:blink;*/
    text-align:left;
    font-size:large;
}
.header .copyright{
    position: absolute;
    width: auto;
    height: auto;
    top: 14px;
    right: 8px;
    text-align: right;
    font-size:larger;
}
.header .website{
    position: absolute;
    width: auto;
    height: auto;
    top: -12px;
    right: 8px;
    text-align: right;
    font-size:larger;
}
.header .titleLinks{
    margin-top: -4px;
    text-align: center;
    font-size: x-large;
}
.header .slogan{
    margin-top: -22px;
    text-align: center;
    font-size: large;
}
.header .HR{
    margin-top: -12px;
}
.dollar{color: #E67300;}

.int{color:Green}

.table {
    position:relative;
    width: 100%;
    left:20px;
    border-color:Black;
    border-style: double;
    border-width: 2px;
}

.table tr {}

.table tr td {
    border-bottom-width: 1px;
    border-bottom-style:dashed;
}
.table tr td.header {
    border-bottom-width: 2px;
    border-bottom-style: double;
    text-align:center;
    font-weight:bold;
}
.table tr td.name { 
    padding-left:12px;
    font-size: medium;
    font-family:COURIER;
}
.table tr td.result {
    text-align:center;
    font-weight:bolder;
    border-color:Black;
}
.table tr td.result.error{color:Red;}
.table tr td.result.good{color:Green;}






